NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_PATH="/playground"

OPENAI_API_KEY=""
OPENAI_BASE_URL=""
OPENAI_MODEL=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

NEXT_PUBLIC_MEMOBASE_PROJECT_URL=""
NEXT_PUBLIC_MEMOBASE_API_KEY=""

# Option 1: Use REDIS_URL for a complete connection string
# REDIS_URL="redis://username:password@host:port"

# Option 2: Use individual Redis components (used if REDIS_URL is not set)
REDIS_HOST="k8s-eloqkvpr-uswest1a-59c3f9a165-fdf95696be734561.elb.us-west-1.amazonaws.com"
REDIS_PORT="6378"
REDIS_USERNAME="3-dev2"
REDIS_PASSWORD="5vQZRUYdc9CNWnmkXO2YAq4GndeNtUGcXraL/SdknAo="
