NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_PATH="/playground"

OPENAI_API_KEY=""
OPENAI_BASE_URL=""
OPENAI_MODEL=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

NEXT_PUBLIC_MEMOBASE_PROJECT_URL=""
NEXT_PUBLIC_MEMOBASE_API_KEY=""

REDIS_URL="redis://localhost:6379"
